*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 125%;
    scroll-behavior: smooth;
    --color-green:#499A18;
    --color-orange:#E06733;
    --color-grey:#717171;
    --color-grey-dark:#636060;
    --color-light-green:#EDF2EC;
    --color-black-link:#010201;
}

.main-container{
    position: relative;
    /*overflow-x: hidden*/
}

h1 {
    font-size: 1em;
    font-weight: 400;
    line-height: 80%;
}

h2{
    font-size: 2.5em;
    font-weight: 400;
    line-height: 120%;
}

h3{
    font-size: 2.5em;
    font-weight: 700;
    line-height: 130%;
}

h4{
    font-size: 2.5em;
    font-weight: 700;
    line-height: 130%;
}

.container{
    max-width: 1220px;
    margin: 0 auto;
}

a.button{
    display: block;
    text-decoration: none;
}

.button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: 2px solid var(--color-orange);
    border-radius: 10px;
    padding-top: 10px;
    width: 158px;
    height: 44px;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.button:active, .button:hover{
    background: var(--color-orange);
}

.service-button:active, .service-button:hover{
    color: #FFFFFF;
}

.welcome-button:active, .welcome-button:hover{
    color: #FFFFFF;
}
.contact-us-button:active, .contact-us-button:hover{
    color: #FFFFFF;
}

.prices-button:active, .prices-button:hover{
    background-color: #D6E7D2;
}

.contacts-button-city:active, .contacts-button-city:hover{
    background-color: #C1E698;
}

.button:disabled{
    background: transparent;
}

.header{
    position: absolute;
    width: 100%;
    background-color: #EDF2EC;
}

.header .link{
    color: #010201;
    text-decoration: none;
    transition: all 0.3s;
}

.header .link:active, .header .link:hover{
    color: var(--color-orange);
}

.header a.focus, .footer a.focus{
    color: var(--color-orange);
    cursor: pointer;
}

.header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 134px;
}

.logo{
    width: 79px;
    text-align: center;
}

.logo-link{
    color: #010201;
    text-decoration: none;
    margin-right: auto;
}

.logo-text{
    position: relative;
    font-size: 16px;
    font-weight: normal;
    line-height: 120%;
}

.logo-text::before{
    content: '';
    position: absolute;
    top: -4px;
    left: -3px;
    background: url('../assets/icons/logo_vector.svg') 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}

.header-navigation{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 46px;
}

.welcome{
    background-color: #EDF2EC;
    padding-top: 134px;
}

.right-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.welcome-picture {
    margin-top: 62px;
    margin-bottom: 62px;
    width: 449px;
    height: 407px;
}

.welcome-text{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    position: relative;
    width: 549px;
    text-align: left;
    color:#717171;
}

.welcome-text-full{
    font-size: 45px;
    font-weight: 700;
    line-height: 50px;
}

.welcome-text-lorem{
    padding-top: 42px;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
}

.green-text{
    color: var(--color-green);
}

.welcome-button{
    align-self: flex-start;
    margin-top: 48px;
}

.about {
    background-color: #FFFFFF;
}

.about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.about .right-side{

    margin-top: 93px;
    margin-bottom: 93px;
}

.about-title {
    flex-direction: column;
    align-self: flex-start;
    position: relative;
    width: 463px;
    text-align: left;
    color: #499A18;
}

.orange-text{
    color: var(--color-orange);
}

.about-text{
    padding-top: 42px;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    width: 605px;
    color: #636060;
}

.about-picture{
    width: 464px;
    height: 479px;
}

.services{
    background-color: #EDF2EC;
}

.service-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.service-projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 82.5%;
    text-align: left;
    margin-top: 40px;
}

.service-project-title {
    flex-direction: column;
    align-self: flex-start;
    position: relative;
    text-align: left;
    color: #499A18;
    width: 306px;
    margin-right: 142px;
}

.service-button{
    color: #E06733;
    text-transform: none;
    height: 50px;
}

.service-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 559px;
}

.service-slider{
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 55px;
    /*column-gap: 116px;*/
    justify-content: space-between;
}

.slider{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 90px;
    margin-bottom: 121px;
}

.slider-overflow{
    overflow: hidden;
}

.slider-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 5%;
}

.service{
    position: relative;
    width: 27%;
    overflow: hidden;
    border: 1px solid #E3E1D5;
    border-radius: 22px;
}

.service-picture-block{
    overflow: hidden;
    margin-bottom: 5px;
}

.care-picture{
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.service-title {
    position: relative;
    text-align: center;
}

.service-information{
    padding-bottom: 36px;
}

.service-name{
    font-weight: 700;
    color: #E06733;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.service-location-small{
    font-weight: 400;
    color: #717171;
    font-size: 16px;
}

.prices{
    background-color: #FFFFFF;
}

.prices-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.prices .left-side{
    margin-top: 40px;
    margin-bottom: 115px;

}

.prices .right-side{
    margin-top: 40px;
    margin-bottom: 115px;
}

.prices-title{
    flex-direction: column;
    align-self: flex-start;
    position: relative;
    width: 452px;
    text-align: right;
}

.prices-container .left-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    height: 391px;
}

.buttons-prices{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    border: 1px solid #E3E1D5;
    border-radius: 22px;
    height: 282px;
    width: 332px;
}

.prices-button{
    border: none;
    background-color: #EDF2EC;
    height: 50px;
    width: 250px;
    font-size: 20px;
    font-weight: 700;
    background-image: url("../assets/icons/accordion_btn.svg");
    background-position: 90% 50%;
    text-transform: none;
    text-align: left;
    padding-left: 15px;
}

.prices-container .right-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    height: 405px;
}

.contact-us-button{
    text-transform: none;
    color: #E06733;
}

.contact-us-picture{
    width: 152px;
    height: 175px;
}

.contacts {
    background-color: #EDF2EC;
}

.contacts-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contacts .left-side{
    margin-top: 53px;
}

.contacts .center-side{
    margin-top: 60px;
    margin-bottom: 439px;
}

.contacts .right-side{
    margin-top: 148px;
    margin-bottom: 352px;
}

.contacts-title {
    color: var(--color-green);
}

.contacts-picture {
    width: 27vw;
    height: 497px;
}
.contacts-button{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.contacts-button-city{
    border: none;
    background-color: #D6E7D2;
    height: 50px;
    width: 450px;
    background-image: url("../assets/icons/accordion_btn.svg");
    background-position: 90% 50%;
    text-transform: none;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    padding-left: 15px;
}

.contact-us-button{
    font-size: 20px;
    font-weight: 700;
}

.footer{
    position: absolute;
    width: 100%;
    background-color: #FFFFFF;
}

.footer-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 130px;
}

.footer .left-side {
    font-size: 20px;
    font-weight: 400;
}

.footer .center-side{
    font-size: 20px;
    font-weight: 400;
}

.footer .right-side{
    height: 50px;
    width: 188px;
}

/*.social-media{*/
/*    list-style: none;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    row-gap: 10px;*/
/*}*/

/*.social-media .link{*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    column-gap: 12px;*/
/*}*/

.social-icon{
    height: 26px;
    width: 26px;
}

.footer .link{
    color: #000000;
    text-decoration: none;
}

/*.instagram{*/
/*    background-image: url(../assets/icons/social-list.svg);*/
/*    background-position: 0 0;*/
/*}*/

/*.social-media .link:hover .instagram {*/
/*    background: no-repeat url(../assets/icons/inst 1.svg);*/
/*}*/

/*.facebook{*/
/*    background: no-repeat url(../assets/icons/fb 1.svg);*/
/*}*/

/*.social-media .link:hover .facebook {*/
/*    background: no-repeat url(../assets/icons/fb 1.svg);*/
/*}*/

/*.twitter{*/
/*    background: no-repeat url(../assets/icons/tw 1.svg);*/
/*}*/

/*.social-media .link:hover .twitter {*/
/*    background: no-repeat url(../assets/icons/tw 1.svg);*/
/*}*/
/*.pinterest{*/
/*    background: no-repeat url(../assets/icons/pinterest 1.svg);*/
/*}*/

/*.social-media .link:hover .pinterest {*/
/*    background: no-repeat url(../assets/icons/pinterest 1.svg);*/
/*}*/
/*----------------------<1086px--------------------*/
@media (max-width: 1086px){
    .container{
        max-width: 668px;
    }
    .header-container {
        height: 117px;
    }
    .welcome-container {
        flex-direction: row-reverse;
    }
    .welcome-picture {
        margin-top: 0;
        width: 280px;
        height: 254px;
    }
    .welcome-text {
        width: 346px;
    }
    .welcome-text-full {
        font-size: 35px;
    }
    .welcome-text-lorem {
        padding-top: 30px;
        font-size: 16px;
        line-height: 25px;
    }
    .welcome-button {
        margin-top: 30px;
        margin-bottom: 70px;
    }
    .about-container {
        flex-direction: column;
    }
    .about-title {
        width: 423px;
        align-self: center;
        text-align: center;
        margin-top: 40px;
        font-size: 35px;
    }
    .about-text {
        padding-top: 40px;
        line-height: 30px;
        width: 100%;
    }
    .about-picture {
        width: 250px;
        height: 258px;
    }
    .about .right-side {
        margin-top: 40px;
        margin-bottom: 90px;
    }
    .service-projects {
        flex-direction: column;
        margin-top: 60px;
        height: 184px;
    }
    .service-project-title {
        font-size: 35px;
    }
    .slider{
        margin-top: 40px;
        margin-bottom: 70px;
    }
    .service-slider{
        row-gap: 38px;
        column-gap: 106px;
    }
    .service {
        position: relative;
        width: 42%;
    }
    .service-information {
        padding-bottom: 20px;
    }
}
