*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 125%;
    scroll-behavior: smooth;
    --color-green:#499A18;
    --color-orange:#E06733;
    --color-grey:#717171;
    --color-grey-dark:#636060;
    --color-light-green:#EDF2EC;
    --color-black-link:#010201;
}

.main-container{
    position: relative;
    /*overflow-x: hidden*/
}

h1 {
    font-size: 1em;
    font-weight: 400;
    line-height: 80%;
}

h2{
    font-size: 2.5em;
    font-weight: 400;
    line-height: 120%;
}

h3{
    font-size: 2.5em;
    font-weight: 700;
    line-height: 130%;
}

h4{
    font-size: 2.5em;
    font-weight: 700;
    line-height: 130%;
}

.container{
    max-width: 1220px;
    margin: 0 auto;
}

.dark{
    display: none;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    z-index: 9;
    background-color: black;
    transition: 0.5s;
}

a.button{
    display: block;
    text-decoration: none;
}

.button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: 2px solid var(--color-orange);
    border-radius: 10px;
    padding-top: 10px;
    width: 158px;
    height: 44px;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.button:active, .button:hover{
    background: var(--color-orange);
}

.service-button:active, .service-button:hover{
    color: #FFFFFF;
}

.welcome-button:active, .welcome-button:hover{
    color: #FFFFFF;
}
.contact-us-button:active, .contact-us-button:hover{
    color: #FFFFFF;
}

.prices-button:active, .prices-button:hover{
    background-color: #D6E7D2;
}

.contacts-button-city:active, .contacts-button-city:hover{
    background-color: #C1E698;
}

.button:disabled{
    background: transparent;
}

.header{
    position: absolute;
    width: 100%;
    background-color: #EDF2EC;
}

.header .link{
    color: #010201;
    text-decoration: none;
    transition: all 0.3s;
}

.header .link:active, .header .link:hover{
    color: var(--color-orange);
}

.header a.focus, .footer a.focus{
    color: var(--color-orange);
    cursor: pointer;
}

.header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 134px;
}

.toggle-nav, .mobile-nav{
    display: none;
}

.logo{
    width: 79px;
    text-align: center;
}

.logo-link{
    color: #010201;
    text-decoration: none;
    margin-right: auto;
}

.logo-text{
    position: relative;
    font-size: 16px;
    font-weight: normal;
    line-height: 120%;
}

.logo-text::before{
    content: '';
    position: absolute;
    top: -4px;
    left: -3px;
    background: url('../assets/icons/logo_vector.svg') 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}

.header-navigation{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 46px;
}

.welcome{
    background-color: #EDF2EC;
    padding-top: 134px;
}

.right-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.welcome-picture {
    margin-top: 62px;
    margin-bottom: 62px;
    width: 449px;
    height: 407px;
}

.welcome-text{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    position: relative;
    width: 549px;
    text-align: left;
    color:#717171;
}

.welcome-text-full{
    font-size: 45px;
    font-weight: 700;
    line-height: 50px;
}

.welcome-text-lorem{
    padding-top: 42px;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
}

.green-text{
    color: var(--color-green);
}

.welcome-button{
    align-self: flex-start;
    margin-top: 48px;
}

.about {
    background-color: #FFFFFF;
}

.about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.about .right-side{

    margin-top: 93px;
    margin-bottom: 93px;
}

.about-title {
    flex-direction: column;
    align-self: flex-start;
    position: relative;
    width: 463px;
    text-align: left;
    color: #499A18;
}

.orange-text{
    color: var(--color-orange);
}

.about-text{
    padding-top: 42px;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    width: 605px;
    color: #636060;
}

.about-picture{
    width: 464px;
    height: 479px;
}

.services{
    background-color: #EDF2EC;
}

.service-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.service-projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 82.5%;
    text-align: left;
    margin-top: 40px;
}

.service-project-title {
    flex-direction: column;
    align-self: flex-start;
    position: relative;
    text-align: left;
    color: #499A18;
    width: 306px;
    margin-right: 142px;
}

.service-button{
    color: #E06733;
    text-transform: none;
    height: 50px;
}

.service-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 559px;
}

.service-slider{
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 55px;
    /*column-gap: 116px;*/
    justify-content: space-between;
}

.slider{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 90px;
    margin-bottom: 121px;
}

.slider-overflow{
    overflow: hidden;
}

.slider-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 5%;
}

.service{
    position: relative;
    width: 27%;
    overflow: hidden;
    border: 1px solid #E3E1D5;
    border-radius: 22px;
}

.service-blur{
    filter: blur(2px);
}

.service-unblur{
    filter: blur(0);
}

.service-button-active {
    background: #E06733;
    color: #ffffff;
}
.service-picture-block{
    overflow: hidden;
    margin-bottom: 5px;
}

.care-picture{
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.service-title {
    position: relative;
    text-align: center;
}

.service-information{
    padding-bottom: 36px;
}

.service-name{
    font-weight: 700;
    color: #E06733;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.service-location-small{
    font-weight: 400;
    color: #717171;
    font-size: 16px;
}

.prices{
    background-color: #FFFFFF;
}

.prices-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.prices .left-side{
    margin-top: 40px;
    margin-bottom: 115px;

}

.prices .right-side{
    margin-top: 40px;
    margin-bottom: 115px;
}

.prices-title{
    flex-direction: column;
    align-self: flex-start;
    position: relative;
    width: 452px;
    text-align: right;
}

.prices-container .left-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    height: 391px;
}

.buttons-prices{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    border: 1px solid #E3E1D5;
    border-radius: 22px;
    height: 282px;
    width: 332px;
}

.prices-button{
    border: none;
    background-color: #EDF2EC;
    height: 50px;
    width: 250px;
    font-size: 20px;
    font-weight: 700;
    background-image: url("../assets/icons/accordion_btn.svg");
    background-position: 90% 50%;
    text-transform: none;
    text-align: left;
    padding-left: 15px;
}

.prices-container .right-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    height: 405px;
}

.contact-us-button{
    text-transform: none;
    color: #E06733;
    font-size: 20px;
    font-weight: 700;
}

.contact-us-picture{
    width: 152px;
    height: 175px;
}

.contacts {
    background-color: #EDF2EC;
}

.contacts-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contacts .left-side{
    margin-top: 53px;
}

.contacts .center-side{
    margin-top: 60px;
    margin-bottom: 439px;
}

.contacts .right-side{
    margin-top: 148px;
    margin-bottom: 352px;
}

.contacts-title {
    color: var(--color-green);
}

.contacts-picture {
    width: 27vw;
    height: 497px;
}

.down-side{
    display: none;
}

.contacts-button{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.contacts-button-city{
    border: none;
    background-color: #D6E7D2;
    height: 50px;
    width: 450px;
    background-image: url("../assets/icons/accordion_btn.svg");
    background-position: 90% 50%;
    text-transform: none;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    padding-left: 15px;
    box-shadow: 0 3px 6px grey;
}

.footer{
    position: absolute;
    width: 100%;
    background-color: #FFFFFF;
}

.footer-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 130px;
}

.footer .left-side {
    font-size: 20px;
    font-weight: 400;
}

.footer .center-side{
    font-size: 20px;
    font-weight: 400;
}

.footer .right-side{
    height: 50px;
    width: 188px;
}

/*.social-media{*/
/*    list-style: none;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    row-gap: 10px;*/
/*}*/

/*.social-media .link{*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    column-gap: 12px;*/
/*}*/

.social-icon{
    height: 26px;
    width: 26px;
}

.footer .link{
    color: #000000;
    text-decoration: none;
}

/*.instagram{*/
/*    background-image: url(../assets/icons/social-list.svg);*/
/*    background-position: 0 0;*/
/*}*/

/*.social-media .link:hover .instagram {*/
/*    background: no-repeat url(../assets/icons/inst 1.svg);*/
/*}*/

/*.facebook{*/
/*    background: no-repeat url(../assets/icons/fb 1.svg);*/
/*}*/

/*.social-media .link:hover .facebook {*/
/*    background: no-repeat url(../assets/icons/fb 1.svg);*/
/*}*/

/*.twitter{*/
/*    background: no-repeat url(../assets/icons/tw 1.svg);*/
/*}*/

/*.social-media .link:hover .twitter {*/
/*    background: no-repeat url(../assets/icons/tw 1.svg);*/
/*}*/
/*.pinterest{*/
/*    background: no-repeat url(../assets/icons/pinterest 1.svg);*/
/*}*/

/*.social-media .link:hover .pinterest {*/
/*    background: no-repeat url(../assets/icons/pinterest 1.svg);*/
/*}*/

/*----------------------<1086px--------------------*/

@media (max-width: 1086px){
    .container{
        max-width: 668px;
    }
    .header-container {
        height: 117px;
    }
    .welcome-container {
        flex-direction: row-reverse;
    }
    .welcome-picture {
        margin-top: 0;
        width: 280px;
        height: 254px;
    }
    .welcome-text {
        width: 346px;
    }
    .welcome-text-full {
        font-size: 35px;
    }
    .welcome-text-lorem {
        padding-top: 30px;
        font-size: 16px;
        line-height: 25px;
    }
    .welcome-button {
        margin-top: 30px;
        margin-bottom: 70px;
    }
    .about-container {
        flex-direction: column;
    }
    .about-title {
        width: 423px;
        align-self: center;
        text-align: center;
        margin-top: 40px;
        font-size: 35px;
    }
    .about-text {
        padding-top: 40px;
        line-height: 30px;
        width: 100%;
    }
    .about-picture {
        width: 250px;
        height: 258px;
    }
    .about .right-side {
        margin-top: 40px;
        margin-bottom: 90px;
    }
    .service-projects {
        flex-direction: column;
        margin-top: 60px;
        height: 184px;
    }
    .service-project-title {
        font-size: 35px;
    }
    .slider{
        margin-top: 40px;
        margin-bottom: 70px;
    }
    .service-slider{
        row-gap: 38px;
        column-gap: 106px;
    }
    .service {
        position: relative;
        width: 42%;
    }
    .service-information {
        padding-bottom: 20px;
    }
    .pay-title{
        font-size: 35px;
    }
    .prices-title{
        font-size: 25px;
        width: 296px;
    }
    .prices .right-side {
        margin-top: 139px;
        margin-bottom: 88px;
    }
    .prices-container .right-side {
        justify-content: space-evenly;
        height: 358px;
    }
    .contacts-picture{
        display: none;
    }
    .down-side{
        display: block;
        width: 200px;
        height: 248px;
    }
    .contacts-container {
        flex-direction: column;
    }
    .contacts .center-side {
        margin-top: 40px;
        margin-bottom: 100px;
    }
    .contacts .right-side {
        margin-top: 0;
        margin-bottom: 250px;
    }
    .contacts .left-side {
        margin-top: 0;
    }
    .footer-container {
        flex-direction: column;
        height: 181px;
        padding-top: 33px;
        padding-bottom: 18px;
    }
}

/*----------------------<644px--------------------*/

@media (max-width: 644px){
    .container{
        max-width: 330px;
    }
    .header-container {
        height: 96px;
    }
    .header-navigation{
        display: none;
    }
    .dark{
        display: block;
    }
    .logo-link{
        width: 10%;
    }
    .toggle-nav{
        width: 10%;
        height: 24px;
        display: block;
        background: url("../assets/icons/burger.svg") no-repeat center center / 91% auto;
        margin-left: auto;
    }
    .mobile-nav{
        overflow: hidden;
        padding: 10px 10px 40px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #fff;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(100%);
        width: 100%;
        z-index: 10;
        transition: transform 0.5s;
    }
    .mobile-list{
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 15px;
    }
    .mobile-nav .logo{
        width: 82px;
        margin-right: 63px;
        text-align: center;
        border-radius: 2px;
        margin-bottom: 30px;
    }
    .mobile-logo-block{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    .close-icon{
        background: url(../assets/icons/x_icon.svg) no-repeat 50% 50%;
        width: 14px;
        height: 14px;
    }
    .welcome {
        padding-top: 120px;
    }
    .welcome-text {
        width: 100%;
    }
    .welcome-picture {
        display: none;
    }
    .welcome-text-full {
        font-size: 25px;
        line-height: 35px;
    }
    .welcome-text-lorem {
        padding-top: 20px;
    }
    .welcome-button {
        margin-top: 20px;
        margin-bottom: 24px;
        font-size: 10px;
        font-weight: 400;
        width: 100px;
        height: 34px;
    }
    .button {
        padding-top: 5px;
    }
    .about-container .left-side{
        width: 100%;
    }
    .about-title {
        width: 100%;
        margin-top: 20px;
        font-size: 25px;
    }
    .about-text {
        padding-top: 21px;
        line-height: 25px;
        font-size: 15px;
    }
    .about-picture {
        width: 150px;
        height: 147px;
    }
    .about .right-side {
        margin-top: 0;
        margin-bottom: 31px;
    }
    .service-container{
        max-width: 330px;
    }
    .service-overall{
        width: 330px;
    }
    .service-projects {
        margin-top: 30px;
        height: 183px;
        align-items: baseline;
    }
    .service-project-title {
        font-size: 25px;
        width: 100%;
    }
    .service-buttons{
        flex-wrap: wrap;
        width: 252px;
        height: 79px;
        font-size: 15px;
    }
    .service-button{
        height: 35px;
        width: 121px;
    }
    .slider{
        margin-bottom: 27px;
    }
    .service-slider{
        row-gap: 34px;
        justify-content: center;
    }
    .service {
        width: 85%;
    }
    .prices-container{
        display: flex;
        flex-direction: column;
    }
    .prices-container .left-side{
        align-items: center;
        height: auto;
    }
    .prices .left-side {
        margin-top: 25px;
        margin-bottom: 0;
    }
    .pay-title {
        font-size: 25px;
        margin-bottom: 40px;
    }
    .buttons-prices{
        height: 235px;
        width: 224px;
    }
    /*---------*/

    .accordion {
        list-style: none;
        margin-bottom: 32px;
        width: 250px;
    }

    .accordion__control {
        background-image: url("../assets/icons/accordion_open.svg");
    }
    .accordion__control-open {
        background-image: url("../assets/icons/accordion_close.svg");
    }

    .accordion__content {
        display: none;
        background-color: #d6e7d2;
        padding: 1px 40px 12px;
    }
    .accordion__content-open {
        display: block;
        border-radius: 0 0 20px 20px;
    }
    /*-----------*/
    .prices-button{
        padding-top: 14px;
        height: 50px;
        width: 180px;
        font-size: 15px;
        border-radius: 25px;
    }
    .prices .right-side {
        margin-top: 19px;
        margin-bottom: 40px;
    }
    .contact-us-picture{
        display: none;
    }
    .prices-container .right-side {
        justify-content: space-between;
        height: 126px;
        align-items: center;
    }
    .prices-title {
        font-size: 20px;
        width: 230px;
        text-align: center;
        line-height: 35px;
    }
    .contact-us-button{
        font-size: 15px;
        width: 121px;
        height: 35px;
    }
    .contacts .center-side {
        margin-top: 25px;
        margin-bottom: 80px;
    }
    .contacts-title{
        font-size: 25px;
        line-height: 33px;
    }
    .contacts .right-side {
        margin-bottom: 132px;
    }
    .contacts-button-city{
        width: 570%;
        padding-top: 13px;
    }
    .down-side{
        width: 100px;
        height: 124px;
    }
    .footer-container {
        height: 146px;
        padding-top: 22px;
        padding-bottom: 7px;
        font-size: 20px;
    }
}
/*-------------*/
@media (max-width: 480px) {
    .accordion__content {
        max-width: 180px;
    }
}


.accordion__content_text {
    color: #717171;
    margin-bottom: 6px;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
}

.accordion__content_price {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 12px;
}
.accordion__content_price span {
    color: #e06733;
    font-size: 18px;
}

.accordion__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
    background: #ffffff;
    border-radius: 10px;
    border: none;
    padding: 3px 20px;
    text-decoration: none;
}

.accordion__line {
    display: block;
    width: 164px;
    height: 0;
    border: 0.5px solid #AEA1A1;
    margin-bottom: 6px;
}
@media (max-width: 480px) {
    .accordion__line {
        width: 100px;
    }
}
@media (max-width: 480px) {
    .prices__title {
        font-size: 25px;
        line-height: 30px;
        padding-left: 0;
        margin-bottom: 38px;
    }
}

.prices__block {
    padding: 34px 41px;
    border: 1px solid #e3e1d5;
    border-radius: 20px;
}
@media (max-width: 600px) {
    .prices__block {
        margin: 0 auto;
        max-width: 300px;
        padding: 23px 25px;
    }
}
@media (max-width: 480px) {
    .prices__block {
        max-width: 224px;
        padding: 28px 27px 25px 19px;
        margin-bottom: 22px;
    }
}

.prices__block-item {
    display: flex;
    justify-content: space-between;
    padding: 16px 40px;
    background-color: #edf2ec;
    border-radius: 20px;
}
.prices__block-item-open {
    background-color: #D6E7D2;
    border-radius: 20px 20px 0 0;
}
@media (max-width: 480px) {
    .prices__block-item {
        max-width: 180px;
        padding: 16px 40px 16px 32px;
    }
}

.prices__block-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
    border: 0;
}

.prices__block-text {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}
@media (max-width: 480px) {
    .prices__block-text {
        font-size: 15px;
        line-height: 20px;
    }
}
