@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  /*background: url("../assets/img/bg.jpg") center/cover, rgba(0, 0, 0, 0.5);*/
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}

.song-title{
  margin-bottom: 15px;
  font-size: 20px;
  max-width: 230px;
  line-height: 1.5em;
}

.player{
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(250, 250, 250, 0.2);
  width: 270px;
  transition: 0.5s;
  z-index: 10;
}

.player-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.player-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0px auto 25px;
}

.player-settings{
  position: relative;
  margin: 0px auto 15px;
  width: 100%;

}

.play-list {
  text-align: left;
  max-height: 145px;
  overflow-y: scroll;
}

.play-list::-webkit-scrollbar{
  width: 5px;
  background: rgba(250, 250, 250, 0.2);
  border-radius: 30px;
  cursor: pointer;
  scroll-behavior: smooth;
}

.play-list::-webkit-scrollbar-track{
  width: 5px;
  background: rgba(250, 250, 250, 0.6);
  border-radius: 30px;
  cursor: pointer;
}

.play-list::-webkit-scrollbar-thumb{
  background-color: lightblue;
  border-radius: 30px;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.item-active{
  opacity: 1;
  color: lightblue;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "";
  background: url("../assets/svg/play.svg") no-repeat 50% 50%;
  position: absolute;
  left: 0;
  top: 7px;
  width: 13px;
  height: 13px;
}

.item-pause::before{
  content: "";
  background: url("../assets/svg/pause.svg") no-repeat 50% 50%;
  position: absolute;
  left: 0;
  top: 7px;
  width: 13px;
  height: 13px;
}

.player-icon,
.slider-icon,
.change-quote,
.open-settings,
.open-list {
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover,
.open-settings:hover,
.open-list:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active,
.open-settings:active,
.open-list:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.play {
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.volume{
  background-image: url("../assets/svg/volume.svg");
}

.volume-off{
  background-image: url("../assets/svg/volume-off.svg");
}

.volume path{
  fill: white;
}

.durationTime {
  position: absolute;
  cursor: pointer;
  top: -13px;
  right: 0;
  font-family: inherit;
  font-size: 12px;
  color: #fff;
  opacity: 0.8;
}

.setting-section span{
  text-transform: capitalize;
}

.languages{
  text-transform: capitalize;
}

.audio-bar{
  width: 100%;
  appearance: none;
  height: 5px;
  border-radius: 30px;
  cursor: pointer;
}

.audio-bar::-webkit-progress-bar{
  -webkit-appearance: none;
  height: 5px;
  background: rgba(250, 250, 250, 0.8);
  border-radius: 30px;
  cursor: pointer;
}

.audio-bar::-webkit-progress-value{
  background: lightblue;
}

.range {
  -webkit-appearance: none;
  height: 5px;
  background: rgba(250, 250, 250, 0.8);
  border-radius: 30px;
  cursor: pointer;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: 0;
  margin-left: 0;
  height: 12px;
  width: 12px;
  border: 0;
  background: lightblue;
  border-radius: 50%;
}

.range::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
}

.range:focus {
  outline: none;
}

.currentTime {
  position: absolute;
  cursor: pointer;
  top: -13px;
  left: 0;
  z-index: 4;
  font-family: inherit;
  font-size: 12px;
  color: white;
  opacity: 0.8;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;
  text-align: left;
  visibility: visible;
  opacity: 1;
  transition: all 0.8s ease 0s;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  width: 100%;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
}

.open-settings-active{
  transform: rotate(90deg);
}

.settings-menu,
.todo-menu{
  position: absolute;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  color: #222;
  bottom: 63px;
  padding: 25px;
  border-radius: 10px;
  background-color: rgba(250, 250, 250, 0.98);
  width: 270px;
  opacity: 0;
  transition: all .3s;
}

.settings-menu{
  left: 16px;
}

.hidden{
  visibility: hidden;
  opacity: 0;
}

.settings-menu:before,
.todo-menu::before{
  content: "";
  position: absolute;
  bottom: -20px;
  border: 10px solid transparent; border-top: 10px solid rgba(250, 250, 250, 0.98);
}

.settings-menu:before{
  left: 10px;
}

.todo-menu:before{
  right: 10px;
}

.settings-menu div:not(:last-child){
  margin-bottom: 20px;
}

.setting-section{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

.chekbox-button {
  display: none;
}

.chekbox-button+.setting-button,
.chekbox-button+.setting-button::before,
.chekbox-button+.setting-button::after {
  transition: all .3s;
}

.setting-button {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 14px;
  border-radius: 10px;
  cursor: pointer;
}

.setting-button::after {
  border-radius: 50%;
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 10px;
  height: 10px;
  background-color: white;
}

.chekbox-button:checked+.setting-button::after {
  left: 65%;
  background-color: #f7f7f7;
}

.setting-button {
  background-color: rgba(0,0,0,.25);
}

.chekbox-button:checked+.setting-button {
  background-color: coral;
}

.chekbox-button:checked+.setting-button::before {
  color: #fff;
}

.setting-select{
  display: block;
  color: #444;
  padding: .2em 1em .2em .5em;
  box-sizing: border-box;
  border-radius: 1em;
  border: 1px solid coral;
}
.setting-select::-ms-expand {
  color: coral;
  background: #0089BA;
}

.setting-select:focus {
  border-color: coral;
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

.setting-select > option:hover{
  color: #0089BA;
}

.open-settings{
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  background-image: url("../assets/svg/setting.svg");
  transition: 0.5s;
}

.setting-menu{
  position: absolute;
  background-color: #fff;
  color: #0089BA;
  padding: 20px;
}

.open-list{
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  background-image: url("../assets/svg/list.svg");
  transition: 0.5s;
}

.quotes{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  transition: 0.5s;
}

.todo-menu{
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  right: 16px;
  height: auto;
}


.add-form{
  visibility: hidden;
  display: flex;
  flex-direction: row;
  width: 100%;
  box-shadow: -1px -1px rgba(0, 0, 0, 0.1);
}

.add-form-input{
  width: 100%;
  padding: 15px;
  background-color: transparent;
  font-size: inherit;
  border: none;
}

.add-form-input:focus-visible{
  outline: none;
}

.todo-list{
  position: relative;
  margin: 0;
  padding-top: 10px;
  list-style: none;
  width: 100%;
  height: auto;
  min-height: 230px;
  max-height: 450px;
  overflow-y: scroll;
  transition: max-height .3s ease,min-height .3s ease,padding .3s ease;
}

.empty-list{
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 50%;
  right: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  transition: all .3s;
}

.empty-list span{
  margin-bottom: 10px;
  color: #444;
  cursor:default;
}

.empty-list-button{
  padding: 7px 15px;
  font-size: inherit;
  border-radius: 50px;
  border: none;
  background-color: coral;
  color: #fff;
  cursor: pointer;
}

.empty-list-button:hover{
  opacity: 0.9;
}

.empty-list-button:active{
  opacity: 0.8;
}


.todo-list::-webkit-scrollbar{
  width: 7px;
  border-radius: 30px;
  cursor: pointer;
  scroll-behavior: smooth;
}

.todo-list::-webkit-scrollbar-track{
  margin-top: 7px;
  width: 5px;
  background: rgba(250, 250, 250, 0.6);
  border-radius: 30px;
  cursor: pointer;
}

.todo-list::-webkit-scrollbar-thumb{
  background-color: coral;
  border-radius: 30px;
}

.todo-list-item {
  width: 100%;
}

.todo-list-item label {
  display: block;
  padding: 8px 15px;
  box-shadow: 0 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  user-select: none;
}

.todo-list-item span {
  display: flex;
  align-items: flex-start;
  overflow:hidden;
  overflow-wrap: break-word ;
  text-align: left;
  word-break: break-word;
}

.todo-list-input{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.todo-list-input + span::before {
  content: "";
  display: inline-block;
  align-self: center;
  width: 10px;
  height: 10px;
  margin-right: 8px;
  flex-shrink: 0;
  background-color: #ffffff;
  border: 2px solid coral;
  border-radius: 4px;
}

.todo-list-input:checked + span::before {
  background-color: coral;
  background-repeat: no-repeat;
  background-position: center;
}

.todo-list-input:not(:checked):hover + span::before,
.todo-list-input:not(:checked):focus + span::before {
  background-color: rgba(255, 127, 80, 0.2);
}

.show{
  visibility: visible;
  opacity: 1;
}

.min-height{
  min-height: auto;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}
